<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Химчистка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-controller="mainBlockCtrl">
<div class="container">
    <!-- =========header========== -->
    <header>
        <nav class="navbar navbar-fixed-top container">
            <div class="navbar-inner col-md-12 col-sm-12 row">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/logoSlon.png" alt="logo" class="brand col-md-1 col-sm-2 img-responsive">
                <div class="header-name col-md-3 col-sm-10">
                    <h1 class="lobster">химчистка</h1>
                    <h2 class="lobster">"Чистый слон"</h2>
                </div>
                <div class="col-md-8 col-sm-12 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#sec-main" rel='m_PageScroll2id'>О нас</a></li>
                        <li><a href="#sec-1" rel='m_PageScroll2id'>Наши работы</a></li>
                        <li><a href="#sec-2" rel='m_PageScroll2id'>Цены</a></li>
                        <li><a href="#sec-3" rel='m_PageScroll2id'>Отзывы</a></li>
                        <li><a href="#sec-4" rel='m_PageScroll2id'>Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="sec-main" class="row main well">
        <h4 class="name-block page-header">О нас</h4>
        <div>
            <h1 class="lobster">"Профессиональная чистка ковров и мягкой мебели на дому"</h1>
        </div>
        <ul class="rslides">
            <li>
                <img src="img/image1.jpg" alt="Чистота в доме,где живут дети">
                <h2 class="lobster">"Чистота в доме,где живут дети"</h2>
            </li>
            <li>
                <img src="img/image2.jpg" alt="Мы вернем чистоту в Ваш дом или офис">
                <h2 class="lobster">"Мы вернем чистоту в Ваш дом или офис!"</h2>
            </li>
            <li>
                <img src="img/image3.jpg" alt="Глубокая чистка и удаление пыли снижает вероятность аллергии на всю жизнь">
                <h2 class="lobster">"Глубокая чистка и удаление пыли снижает вероятность аллергии на всю жизнь"</h2>
            </li>
            <li>
                <img src="img/image4.jpg" alt="Белая мебель лишь Мечта? С нами мечты сбываются">
                <h2 class="lobster">"Белая мебель лишь Мечта? С нами мечты сбываются!"</h2>
            </li>
        </ul>
        <article>
            <p>Ковры, ковровые покрытия и мягкая мебель, несомненно, создают уют в доме, но в то же время могут стать источником пыли, которую они накапливают из воздуха, собирают с подошв и одежды. Обычной очистки пылесосом недостаточно для удаления этой пыли, ведь она проникает глубоко даже в самый короткий ворс.
            Кроме того, на мягкой мебели и коврах с досадной частотой появляются пятна от кофе, чая, а если в доме есть дети, то спектр возможных загрязнений ограничивается только их фантазией.
            Химическая чистка — лучшее решение для устранения этих проблем!</p>
            <p>Наша фирма предоставляет услуги по химчистке ковров, ковровых покрытий, мягкой мебели (в том числе и из кожи), детских колясок и автокресел, а также автосалонов в Минске и минском районе. В своей работе наши мастера используют профессиональную технику Karcher и специальные моющие экологически тестированные средства производителей США и Германии.
            Звоните, мы всегда рады Вам помочь!</p>
        </article>
    </section>

    <!-- ============================ -->
    <section id="sec-1" class="row library well">
        <h4 class="name-block page-header">Наши работы</h4>
        <div class="inner-otzyvy">
            <div class="row col-lg-12 col-md-12">
                <div><a href="img/rabota1.jpg" class="item-library"><img src="img/rabota1.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
                <div><a href="img/rabota2.jpg" class="item-library"><img src="img/rabota2.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
                <div><a href="img/rabota3.jpg" class="item-library"><img src="img/rabota3.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
            </div>
            <div class="row col-lg-12 col-md-12">
                <div><a href="img/rabota4.jpg" class="item-library"><img src="img/rabota4.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
                <div><a href="img/rabota5.jpg" class="item-library"><img src="img/rabota5.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
                <div><a href="img/rabota6.jpg" class="item-library"><img src="img/rabota6.jpg" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-thumbnail"></a></div>
            </div>
        </div>
    </section>

    <section id="sec-2" class="row price well">
        <h4 class="name-block page-header">Цены</h4>
                <!--1 table-->
            <table class="table">
                <caption>Химчистка диванов</caption>
                <tbody>
                <tr ng-repeat="item in list.tableDivans">
                    <th align="center">
                        <h3>{{item.name}}</h3>
                        <img src={{item.photo}} alt="divans">
                    </th>
                    <th class="price-table" align="center">от {{item.price}} руб</th>
                </tr>
                <tr>
                    <th>
                        <h4>* подушки оплачиваются отдельно 2 - 3 руб</h4>
                    </th>
                </tr>
                </tbody>
            </table>
            <!--2 table-->
            <table class="table">
                <caption>Химчистка мебели</caption>
                <tbody>
                    <tr ng-repeat="item in list.tableFurniture">
                        <th align="center">
                            <h3>{{item.name}}</h3>
                            <img src={{item.photo}} alt="furniture">
                        </th>
                        <th class="price-table" align="center">{{item.price}} руб</th>
                    </tr>
                </tbody>
            </table>
        <!--3 table-->
        <table class="table media481">
            <caption>Химчистка матрасов</caption>
            <tbody>
            <tr>
                <td rowspan="2"><img src="img/matras.jpg" alt="matras"></td>
                <td colspan="2" align="right" class="price-table two-row">
                    {{list.tableMattress[0].name}}
                </td>
                <td class="price-table two-row" align="center">
                    {{list.tableMattress[0].price}} руб
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right" class="price-table two-row">
                    {{list.tableMattress[1].name}}
                </td>
                <td class="price-table two-row" align="center">
                    {{list.tableMattress[1].price}} руб
                </td>
            </tr>
            </tbody>
        </table>
            <!--4 table-->
            <table class="table media481">
                <caption>Химчистка ковров</caption>
                <tbody>
                <tr>
                    <td rowspan="3"><img src="img/him-covrow.jpg" alt="him"></td>
                    <td colspan="3" align="right" class="price-table two-row">
                        {{list.tableCarpet[0].name}}
                    </td>
                    <td class="price-table two-row" align="center">
                        {{list.tableCarpet[0].price}} руб за м<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right" class="price-table two-row">
                        {{list.tableCarpet[1].name}}
                    </td>
                    <td class="price-table two-row" align="center">
                        {{list.tableCarpet[1].price}} руб за м<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right" class="price-table two-row">
                        {{list.tableCarpet[2].name}}
                    </td>
                    <td class="price-table two-row" align="center">
                        {{list.tableCarpet[2].price}} руб за м<sup>2</sup>
                    </td>
                </tr>
                </tbody>
            </table>
        <!--4 table-->
        <table class="table">
            <caption>Химчистка колясок</caption>
            <tbody>
            <tr ng-repeat="item in list.tablePram">
                <th align="center">
                    <h3>{{item.name}}</h3>
                    <img src={{item.photo}} alt="divan2">
                </th>
                <th class="price-table" align="center">{{item.price}} руб</th>
            </tr>
            <tr>
                <th>
                    <h4>* Возможна химчистка салона авто от 50 руб</h4>
                </th>
            </tr>
            </tbody>
        </table>

    </section>
    <!-- ========== comments ==============-->

    <section id="sec-3" class="row otzyvy well">
        <h4 class="name-block page-header">Отзывы</h4>
        <div class="inner-otzyvy">
            <div class="well" ng-repeat="item in list.comment">
                <span class="name-otzyvy lobster">{{item.name}}</span><span class="date-otzyvy">{{item.date}}</span>
                <p>{{item.text}}</p>
            </div>
            <!-- ===========form========================= -->
            <form class="form-horizontal form">
                <h4 class="col-sm-offset-2">Отправьте нам отзыв:</h4>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Имя</label>
                    <div class="col-sm-10">
                        <input name="name" class="form-control" id="inputEmail3" placeholder="Имя" required="required">
                    </div>
                </div>
                <div class="form-group">
                        <label for="inputText" class="col-sm-2 control-label">Введите текст</label>
                        <div class="col-sm-10">
                            <textarea name="text" class="form-control" rows="3" id="inputText"></textarea>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- =========== contacts =============== -->
    <section id="sec-4" class="row contacts well">
        <h4 class="name-block page-header">Контакты</h4>
        <div class="inner-contacts">
            <div class="soc-seti">
                <div class="vk col-md-4 col-sm-4">
                    <div>
                        <span></span>
                        <a href="https://vk.com/chimichim" target="_blank" class="lobster">мы в контакте</a>
                    </div>
                </div>
                <div class="fb col-md-4 col-sm-4">
                    <span></span>
                    <a href="https://www.facebook.com/pages/%D0%A7%D0%B8%D1%81%D1%82%D1%8B%D0%B9-%D1%81%D0%BB%D0%BE%D0%BD/437430863094847" target="_blank" class="lobster">мы в фэйсбуке</a>
                </div>
                <div class="od col-md-4 col-sm-4">
                    <span></span>
                    <a href="http://ok.ru/group/53601542340847" target="_blank" class="lobster">мы в одноклассниках</a>
                </div>
            </div>
            <div class="phone row">
  <!--              <div class="mts col-md-4 col-sm-4">
                    <div>
                        <span></span>
                        <a href="tel:+375293853011">+375-29-709-74-34</a>
                    </div>
                </div>-->
                <div class="velcom col-md-6 col-sm-6 text-center">
                    <div>
                        <span></span>
                        <a href="tel:+375293853011">+375-29-385-30-11</a>
                    </div>
                </div>
                <div class="skype col-md-6 col-sm-6 text-center">
                    <div>
                        <span><a href="skype:postviks1"></a></span>
                        <a href="skype:postviks1">postviks1</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row well">
            <div class="ip col-md-6 col-sm-12">
                <b>ИП Карпухина О.М. УНП 691790619</b>
            </div>
            <div class="my col-md-6 col-sm-12">
                    <span class="glyphicon glyphicon-copyright-mark"></span><b>Alexandr Virynski, Minsk 2015г nigirock124@gmail.com</b>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/model.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="js/app.js"></script>
</html>